---
const KEY = "1a886af9fafacd539ac87d3c3fad0fb8";
const W = 160, H = 600;
const uid = `ad_${KEY}_${Math.random().toString(36).slice(2)}`;
---
<div id={uid} class="ad-box" style={`width:${W}px`}>
  <div style={`width:${W}px;height:${H}px;overflow:hidden`}>
    <script is:inline>
      (function(){
        window.atOptions = { key: '{KEY}', format: 'iframe', height: {H}, width: {W}, params: {} };
        var s=document.createElement('script'); s.type='text/javascript'; s.async=false;
        s.src='//www.highperformanceformat.com/{KEY}/invoke.js';
        (document.currentScript.parentElement||document.body).appendChild(s);
        setTimeout(()=>{ try{ delete window.atOptions }catch(e){} }, 0);
      })();
    </script>
  </div>
</div>
<style>.ad-box{margin:16px auto}</style>
