---
const KEY = "61895c843e928669700118b61332bf99";
const W = 468, H = 60;
const uid = `ad_${KEY}_${Math.random().toString(36).slice(2)}`;
---
<div id={uid} class="ad-box" style={`width:${W}px;max-width:100%`}>
  <div style={`width:${W}px;height:${H}px;max-width:100%;overflow:hidden`}>
   <script type="text/javascript">
	atOptions = {
		'key' : '61895c843e928669700118b61332bf99',
		'format' : 'iframe',
		'height' : 60,
		'width' : 468,
		'params' : {}
	};
</script>
<script type="text/javascript" src="//www.highperformanceformat.com/61895c843e928669700118b61332bf99/invoke.js"></script>
  </div>
</div>
<style>.ad-box{margin:16px auto;display:flex;justify-content:center}</style>
