---
const KEY = "9eef77ca2aa6c15adf4cb0f66c8462ca";
const W = 728, H = 90;
const uid = `ad_${KEY}_${Math.random().toString(36).slice(2)}`;
---
<div id={uid} class="ad-box" style={`width:${W}px;max-width:100%`}>
  <div style={`width:${W}px;height:${H}px;max-width:100%;overflow:hidden`}>
    <script type="text/javascript">
	atOptions = {
		'key' : '9eef77ca2aa6c15adf4cb0f66c8462ca',
		'format' : 'iframe',
		'height' : 90,
		'width' : 728,
		'params' : {}
	};
</script>
<script type="text/javascript" src="//www.highperformanceformat.com/9eef77ca2aa6c15adf4cb0f66c8462ca/invoke.js"></script>
  </div>
</div>
<style>.ad-box{margin:16px auto;display:flex;justify-content:center}</style>
